/**----------  Header  ----------*/

header {
  margin: $size-4 0;
}

.block-system-branding-block {
  display: flex;
  align-items: center;
}

.site-logo {
  max-width: 80px;
  margin-right: $size-3;
}

.site-brand {
  font-size: $size-3;
}

/*----------  Navigation  ----------*/

.navbar-menu .menu-item {
  display: flex;

  a {
    @extend .navbar-item;
    font-size: $size-6;
  }

  &--active-trail a {
    @extend .navbar-item;
    @extend .is-tab;
    @extend .is-active;
  }
}

/*----------  Content  ----------*/
.region.region-breadcrumb {
  margin: $size-4 0;
}

.field--name-body {
  @extend .content;
  @extend .is-medium;
}

/*----------  Forms  ----------*/

.button--primary {
  @extend .is-primary;
}

/**----------  Footer  ----------*/

footer {
  margin: $size-2 0;
}

.signature img {
  max-width: 150px;
}
