/**----------  Header  ----------*/

header {
  margin-bottom: var(--bulma-size-4);
}

.block-system-branding-block {
  display: flex;
  align-items: center;
}

.site-logo {
  max-width: 80px;
  margin-right: var(--bulma-size-3);
}

.site-name {
  font-size: var(--bulma-size-3);
  font-weight: var(--bulma-weight-semibold);

  a {
    color: $drupal-blue;
  }
}

.site-slogan {
  font-size: var(--bulma-size-4);
}

/*----------  Navigation  ----------*/

.navbar-menu .menu-item {
  display: flex;

  a {
    @extend .navbar-item;
    font-size: var(--bulma-size-6);
  }

  &--active-trail a {
    @extend .navbar-item;
    @extend .is-tab;
    @extend .is-active;
  }
}

/*----------  Highlighted  ----------*/
.breadcrumb {
  margin-bottom: var(--bulma-size-5);

  a {
    color: var(--bulma-primary-invert);

    &:hover {
      color: var(--bulma-primary-bold);
    }
  }

  li {
    & + li::before {
      color: var(--bulma-primary-invert);
    }

    &.is-active a {
      color: var(--bulma-primary-invert);
    }
  }
}

h1.title {
  font-size: var(--bulma-size-1);
}

/*----------  Content  ----------*/

[data-drupal-messages] {
  margin: var(--bulma-size-5) 0;
}

.block-local-tasks-block {
  margin: var(--bulma-size-3) 0;
}

.field--name-body {
  @extend .content;
  @extend .is-medium;
  margin-bottom: var(--bulma-size-2);
}

/*----------  News  ----------*/

.view-news {
  .view-content {
    @extend .grid;
  }

  .views-row {
    @extend .cell;
  }
}

/*----------  Forms  ----------*/

.button--primary {
  @extend .is-primary;
}

/**----------  Footer  ----------*/

footer {
  margin-top: var(--bulma-size-2);
}

.signature img {
  max-width: 150px;
}
